.segmented {
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
    font-family:"Helvetica Neue";
    font-size:90%;
    text-align:center;
}

.segmented a {
    display:block;
    flex:1;
    box-sizing:border-box;
    border:1px solid #167efb;
    border-right:none;
    color:#167efb;
    margin:0;
    padding:.4em;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
}

