.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid black;
    border-top: 2px solid rgb(19, 15, 15);
    }
    
    .tableHeadingRow{
    background-color: lightgrey;
    border-top: 1px solid Black;

    }
    .tableHeading{
    border-left: 1px solid Black;
    border-right: 1px solid Black;
    border-top: 1px solid Black;
    padding-left: 2px;
    padding-right: 10px;
    }
    .tableRow {
    
    }
    .tableRow:nth-child(even){background-color: #f2f2f2}
    
    .tableCol{
    border-left: 1px solid Black;
    border-right: 1px solid Black;
    
    }