.buttonClass{
    width: 50px;
    height:50px;
    margin:10px;
    border-radius: 6px;
    background-color: white

}
.selectedButtonClass{
    width: 50px;
    height:50px;
    margin:10px;
    border-radius: 6px;
    background-color: red

}